@import "macchiato.css";

*{
  padding: 0;
  margin: 0;
  font-size: 15px;
  min-height: 0;
  font-family: "0xProto Nerd Font"
}

#waybar{
  background-color: @base;
  opacity: 0.9;
}

#workspaces{
  margin: 5px;
  background-color: @surface0;
  border-radius: 1rem;
  padding: 0 0.4rem;
}

#workspaces button{
  padding: 2px 4px;
  margin: 5px 2px;
  border-radius: 1rem;
  background: @pink;
  color: @crust;
}

#workspaces button:hover {
  background: @mauve;
}

#workspaces button.active {
  background: @red;
  color: @crust;
}

#clock{
  color: @text;
  background-color: @surface0;
  border-radius: 1.1rem;
  margin: 5px;
  padding: 0 1rem;
}

.modules-right{
  margin: 5px;
  border-radius: 1rem;
  padding: 0 0.3rem;
  color: @text;
  background-color: @surface0;
}

#pulseaudio, #network, #cpu, #memory{
  background-color: @pink;
  color: @crust;
  margin: 5px;
  border-radius: 2rem;
  padding: 0 15px 0 10px;
}
#custom-power{
  background-color: @pink;
  color: @crust;
  margin: 5px;
  border-radius: 2rem;
  padding: 0 8px 0 12px;
}
