*{
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100vw;
    height: 100vh;
}

.main-container{
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    border-radius: 5%;
    background-color: aliceblue;
    width: 50vw;
    /* height: 70vh; */
}

.main-container .center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container label, .main-container div, .main-container button{
    margin: 10% 0 0;
}

.main-container input, .main-container button{
    padding: 1%;
}